.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: var(--gray-200);
    margin-top: 80px;
  }

  span {
    color: var(--gray-300);
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 60px;
  }

  section {
    margin: 12px 0;

    h2 {
      font-weight: bold;
      font-size: 36px;
      line-height: 140%;
      text-align: justify;
      color: var(--gray-100);
      margin: 64px 0;
    }

    p {
      font-size: 18px;
      line-height: 140%;
      text-align: justify;
      color: var(--gray-200);
      margin: 64px 0;
    }
  }
}

.postDetails {
  display: flex;
  align-items: center;
  margin: 24px 0 16px;

  div {
    display: flex;
    margin-right: 3rem;
  }

  time, p {
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-300);
    margin-left: 0.5rem;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 18px;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: justify;
    color: var(--gray-100);
  }

  button {
    color: var(--gray-100);
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: 0em;
    display: block;
    transition: all 0.2s;

    &:hover {
        color:var(--pink-500);
    }
  }
}
